.header{
    background-color: #000;;
    &__container{
        width: 100%;
        display: flex;;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        flex:1;
    }
    &__navigation{width: 85%;}
    &__cta{flex:1;}
    #primary-menu ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex:1;
    }
}