.homepage__hero{
    margin:0 20px;
    background-color: $bg-main;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: calc(100vh - 260px);
    padding: 50px;

    &---tagline{
        display: block;
        text-align: center;
        font-size:  95px;
        line-height: 90px;
        color: $text-light;
        font-weight: 300;
        font-family: $ff-main;
        max-width: 750px;
        margin:0 auto;
        padding-bottom: 40px;
    }
    &---heading{
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 400;
        color: $text-link;
    }
}