
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1250px
) !default;

$bg-main:#636C78;
$bg-main-light:#F2F2F2;
$bg-main-dark:#101010;
$bg-main-white:#f2f2f2;

$text-dark:#0a033c;
$text-simple:rgba(10, 3, 60, 0.8);
$text-light:#fff;
$text-link:#c7c7c7;
$text-link-active:#fff;


$primary: #e1400d;
$danger: #ff4136;

$main:#000;
$sec:#e1400d;

$ff-main: 'League Spartan', sans-serif;